/*IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');

/*Background*/
body {
    background-color: #FFF4B2;
}

/* Bouton haut de page (div) */
.top-page {
    width: 40px;
    position: fixed;
    bottom: 15px;
    right: 50px;
    background-color: #f6e05e;
    padding: 5px;
    border: solid black 1px;
    border-radius: 40px
}