<template>
    <!--UserCard Container-->
    <div class="container mx-auto bg-white rounded-md shadow-md">
      <h1 class="text-4xl text-center text-green-900 mt-10 mb-10">Last Users</h1>
        <!--UserCard-->
      <div v-for="user in users" :key="user.id" :user="user" class="bg-gray-100 h-20 m-5 text-green-900 rounded-lg shadow-md grid grid-cols-2 sm:grid-cols-3 text-center hover:bg-yellow-200 transition duration-3:hover00 ">
        <p v-if="user.data.user_metadata.full_name" class="mt-7 hover:text-yellow-900 transition duration-150 ease-in-out underline"><a :href="'https://adacraft.org/user/' + user.ref.id" target="_blank">{{ user.data.user_metadata.full_name }}</a></p>
        <p v-else class="mt-7 hover:text-yellow-900 transition duration-150 ease-in-out underline"><a :href="'https://adacraft.org/user/' + user.ref.id" target="_blank"><em>Undefined</em></a></p>
        <p class="mt-7 cursor-default">{{ new Date(user.ts/1000).toLocaleDateString("fr-FR") }}</p>
        <p class="mt-7 cursor-default overflow-hidden sm:overflow-visible">{{ user.ref.id }}</p>
      </div>
    </div>    
</template>

<script>
import { faunasecret } from '../config.js'

export default {
  name: "LastUsers",
  data: function(){
    return{
      name:"LastUsers",
      users: []
    }
  },
  mounted(){
    var faunadb = require('faunadb')
    const client = new faunadb.Client({
      secret: faunasecret
})
    const q = faunadb.query
    client
        .query(
          q.Map(
            q.Paginate(
              q.Match(
                q.Index('all_users'),
                    ), { size: 20, before:null}
                ),
                ref => q.Get(ref) 
            )
        )
        .then(response => {
              // Stocke les données récupérées dans le tableau vide projects/users
              this.users = (response.data).sort((a, b)=> b.ts - a.ts);
              })
        .catch(error => error)
  }
}
</script>