<template>
    <div id="nav" class="bg-white">

      <!--Navbar : Logo/name + Links-->
      <div class="flex justify-between mr-10 sm:flex flex-wrap">

        <!--Navbar : Logo + name-->
        <div class="flex flex-row sm:justify-center"> 
          <div class="p-2 ml-10 pr-4">
            <router-link to="/"><img src="../assets/logo-adacraft.svg" alt="adacraft logo" width="60"></router-link>
          </div>
          <div class="text-lg mt-6" style="font-family: 'Averia Libre', sans-serif, serif">
            <router-link to="/">Adacraft Admin Panel</router-link>
          </div>
        </div>
      
      <!--Navbar : Links-->

        <div class="text-lg flex mt-6 mx-20 mb-3">
          <div class="pr-7">
            <router-link to="/">Home</router-link>
          </div>
          <div class="pr-7">
            <router-link to="/users">Users</router-link>
          </div>
          <div class="pr-7">
            <router-link to="/projects">Projects</router-link>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    name:'NavBar'}
</script>